@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141414;
}

@font-face {
  font-family: "Glysa";
  src: url("../assets/Glysa.woff") format("woff");
}

@font-face {
  font-family: "LexendDeca";
  src: url("../assets/LexendDecaRegular.woff") format("woff");
}

.content {
  max-width: 1024px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "LexendDeca", Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative;
  color: #fff;
}

.main-container h1,
.main-container h2 {
  font-style: normal;
  font-weight: 500;
  color: #fff;
}

.main-container h1 {
  font-family: "Glysa", Roboto;
  font-size: 32px;
  line-height: 48px;
}

.main-container h2 {
  font-family: "LexendDeca", Roboto;
  font-size: 24px;
  line-height: 40px;
}

.main-container h3 {
  font-family: "Lexend Deca", Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

h2.modal-title {
  font-family: "Glysa", Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}

.button {
  cursor: pointer;
}

.button-gradrient {
  background: linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%);
}
.button-gradrient:hover {
  background: #1565c0;
}

.MuiListItemText-secondary {
  color: #fff !important;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.56) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #141414 inset !important;
  -webkit-outline: none !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.32) !important;
  caret-color: rgba(255, 255, 255, 0.32);
}
